body {
      background: #222426;
      color: rgba(255, 255, 255, 0.8);
}

a {
    color: #3ea8f4;
}
a:visited {
    color: #f53da8;
}

.container {
    padding: 20px;
}

img {
    max-width: 100%;
}
